.big-counter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    /* height:20px; */
    background: #101010;
    color: white;
    padding: 10px;
    margin: 5px;
}
.big-counter {
   text-align: center;
   background: black;
   width: 50%;
   margin: 0 auto;
}